[Unit]
Description=this is a silly weather service

[Service]
Type=simple
ExecStart=/home/vagrant/week11git/wttr_read
WorkingDirectory=/home/vagrant/week11git
Restart=on-failure

[Install]
WantedBy=multi-user.target
